img.emoji {
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .05em 0 .1em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}

img.wp-smiley {
	height: 1em;
}
